Cargo.lock
target/
.vscode/
.venv/
.pytest_cache/
.DS_Store
*.so
*.pyc
__pycache__/
dist/
iban_validation_bench_py/data/test_file.csv
zig-cc-wrapper.sh
iban_validation_c/examples/example_c
iban_validation_c/examples/example_cpp
iban_validation_c/examples/bench_c

